/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");
$signaturegreen: rgb(111, 155, 111);
$signatureblack: rgb(0, 0, 0);
$signaturegray: rgb(87, 87, 87);
$signaturewhite: rgb(255, 255, 255);
$signatureplomo: #2e2e2e;

@mixin button {
  padding: 10px 30px;
  background-color: $signaturegreen;
  color: $signatureblack;
  border-radius: 5px;

  &:hover {
    background-color: $signaturegray;
    color: $signaturewhite;
    transition: 0.5s;
  }
}

/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #575757;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(./media/stiwar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*NAVIGATION*/
nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 140px;
  margin-left: 20px;
}

.bar-btn {
  font-size: 25px;
  color: $signaturewhite;
  margin-right: 20px;
  cursor: pointer;
}

.fa {
  color: $signaturewhite;
}

.navmenu {
  display: flex;
  justify-content: end;
  position: sticky;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: $signatureblack;
  transition: all 0.5s;
  opacity: 0.9;
  margin: 30px;
}

.navmenu li {
  display: none;
  line-height: 30px;
  margin: 10px 10px;
  transition: all 0.5s;
}

.navmenu li a {
  color: $signaturewhite;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.navmenu li a.active,
.navmenu li a:hover {
  color: $signaturegreen;
  transition: 0.3s;
}

#check,
.bar-btn {
  display: none;
}

#check:checked ~ .navmenu {
  height: 100vh;
}

#check:checked ~ .navmenu li {
  display: block;
}

/*BANNER TEXT*/
.bannertext {
  margin: 0 30px;
  margin-top: 150px;
  text-align: center;
  color: $signaturewhite;
}

.bannertext h1 {
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 500;
  word-break: break-word;
}

.bannertext span {
  color: $signaturegreen;
}

.bannertext h2 {
  font-size: 20px;
  font-weight: 500;
}

.button1,
.button2 {
  @include button();
}

/*RESPONSIVE INDEX*/
@media screen and (max-width: 768px) {
  .bar-btn {
    display: flex;
    justify-content: end;
  }
  .navmenu li {
    margin: 50px 0;
  }
  .navmenu{
    right: unset;
  }
}

@media screen and (max-width: 600px) {
  .mediabtn {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .fa-bars {
    left: 25px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-left: 50px;
  }
  nav {
    height: 100px;
  }

  .navmenu {
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: center;
  }
  .navmenu li {
    display: inline-block;
    line-height: 100px;
    transition: none;
  }
  .navmenu li a {
    font-size: 12px;
  }
  .bannertext h1 {
    font-size: 70px;
    margin-bottom: 30px;
  }
  .bannertext h2 {
    font-size: 20px;
  }
}

/*INFORMATION*/
.container {
  color: white;
  border-radius: 7px;
}

.infos {
  text-align: center;
}

.prf {
  text-align: center;
  font-size: 17px;
}

/*IMAGE MINI GALERY*/
.rounded {
  width: 30%;
}


/*FOOTER*/
.card {
  background-color: #575757;
  color: white;
}

.box {
  background-color: #2e2e2e;
}

.btnf {
  padding: 10px 30px;
  background-color: #6f9b6f;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.btnf:hover {
  background-color: #575757;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*CSS FOR CLOTHING PAGE*/
/*CLOTHING PRODUCTS*/
.order {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
}

.card1 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/sisa.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card2 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/tropelera.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card3 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/camiseta.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card4 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/camibuso.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card5 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/termo.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card6 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/pantaloneta.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card7 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/oversize.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card8 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/gorra.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card__content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: #2e2e2e;
  border-top-left-radius: 20px;
  transform: translateY(70px);
  transition: transform 0.25s;
}

.card__content::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #2e2e2e;
}

.card__title {
  color: rgb(255, 255, 255);
  line-height: 15px;
  font-size: 27px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  color: #6f9b6f;
}

.card__description {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
  color: white;
}

.card1:hover .card__content {
  transform: translateY(0);
}

.card1:hover .card__description {
  opacity: 1;
  transition-delay: 0.25s;
}

.card2:hover .card__content {
  transform: translateY(0);
}

.card2:hover .card__description {
  opacity: 1;
  transition-delay: 0.25s;
}

.card3:hover .card__content {
  transform: translateY(0);
}

.card3:hover .card__description {
  opacity: 1;
  transition-delay: 0.25s;
}

.card4:hover .card__content {
  transform: translateY(0);
}

.card4:hover .card__description {
  opacity: 1;
  transition-delay: 0.25s;
}

.card5:hover .card__content {
  transform: translateY(0);
}

.card5:hover .card__description {
  opacity: 1;
  transition-delay: 0.25s;
}

.card6:hover .card__content {
  transform: translateY(0);
}

.card6:hover .card__description {
  opacity: 1;
  transition-delay: 0.25s;
}

.card7:hover .card__content {
  transform: translateY(0);
}

.card7:hover .card__description {
  opacity: 1;
  transition-delay: 0.25s;
}

.card8:hover .card__content {
  transform: translateY(0);
}

.card8:hover .card__description {
  opacity: 1;
  transition-delay: 0.25s;
}

@media screen and (max-width: 600px){
  .order{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container{
    text-align: justify;
    align-items: center;
  }

  .infos{
    color: $signaturegreen;
  }
}

/*CSS FOR ABOUT US PAGE*/
/*ACCORDION*/
.accordion {
  margin: 20px;
  padding: 20px;
}

.accordion-item {
  background-color: #2e2e2e;
  color: white;
  text-align: justify;
}

.accordion-button {
  background-color: #575757;
  color: white;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem $signaturegreen !important;
  border-color: $signaturegreen !important;
}

.accordion-button:not(.collapsed) {
  color: $signaturegreen;
}


/*CSS FOR TEAM PAGE*/
/*TEAM CARDS*/
.gridcard{
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  
}

.teamcard{
  align-items: center;
  width: 30rem;
  /*background-color: $signatureplomo;*/
  color: $signaturewhite;
  padding: 1.5rem;
  border-radius: .5rem;
}

.cardpic{
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: .5rem;
}

.cardinformationtitle{
  font-size: 27px;
  text-align: center;
}

@media screen and (max-width: 600px){
  .gridcard{
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
  }
}


/*CSS FOR CONTACT PAGE*/
/*INFORMATION*/
.icontainer{
  background-color:$signaturegreen;
  margin: 20px;
  padding: 20px;
  border-radius: 9px;
  align-items: center;
  text-align: center;
  color: $signaturewhite;
}


/*FORMULARIO*/
#caja-comentarios{
  padding: 20px 0px 50px 0px;
}

form{
  width: 80%;
  margin: auto;
  background: $signatureplomo;
  padding: 15px 15px;
  margin-top: 20px;
  border-radius: 7px;
}

.text-center{
  color: $signaturewhite;
  text-align: center;
  background-color: $signatureplomo;
}

form h4{
  color: $signaturewhite;
  padding: 35px;
  font-size: 28px;
}

input, textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  border: none;
  box-shadow: 0px 0px 5px $signatureblack;
  font-family: "Jost", sans-serif;
  border-radius: 7px;
}

textarea{
  min-height: 100px;
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
}

#boton{
  font-weight:600 ;
  background-color:$signaturegreen;
  border: 1px solid $signaturegray;
  color: $signaturewhite;
  padding: 20px;
  box-shadow: 0px 0px 5px $signatureblack;
}
#boton:hover{
  cursor: pointer;
  background-color: $signaturegray;
  transition: all 0.4s;
  color: $signatureblack;
  transform: scale(0.9);
}


@media (min-width: 600px){
  form{
      max-width: 900px;
  }

  .text-center{
    color: $signaturegreen;
  }

}