/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");
/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #575757;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(./media/stiwar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*NAVIGATION*/
nav {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 140px;
  margin-left: 20px;
}

.bar-btn {
  font-size: 25px;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.fa {
  color: white;
}

.navmenu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: black;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navmenu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navmenu li a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.navmenu li a.active,
.navmenu li a:hover {
  color: #6f9b6f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#check,
.bar-btn {
  display: none;
}

#check:checked ~ .navmenu {
  height: 100vh;
}

#check:checked ~ .navmenu li {
  display: block;
}

/*BANNER TEXT*/
.bannertext {
  margin: 0 30px;
  margin-top: 150px;
  text-align: center;
  color: white;
}

.bannertext h1 {
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 500;
}

.bannertext span {
  color: #6f9b6f;
}

.bannertext h2 {
  font-size: 20px;
  font-weight: 500;
}

.button1,
.button2 {
  margin-right: 40px;
  padding: 10px 30px;
  background-color: #6f9b6f;
  color: black;
  border-radius: 5px;
}

.button1:hover,
.button2:hover {
  background-color: #575757;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*RESPONSIVE INDEX*/
@media screen and (max-width: 768px) {
  .bar-btn {
    display: inline-block;
    left: 472px;
    position: absolute;
  }
}

@media screen and (max-width: 600px) {
  .mediabtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .fa-bars {
    left: 25px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-left: 50px;
  }
  nav {
    height: 100px;
  }
  .navmenu {
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    -webkit-transition: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }
  .navmenu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    -webkit-transition: none;
    transition: none;
  }
  .navmenu li a {
    font-size: 12px;
  }
  .bannertext h1 {
    font-size: 70px;
    margin-bottom: 30px;
  }
  .bannertext h2 {
    font-size: 20px;
  }
}

/*INFORMATION*/
.container {
  color: white;
  border-radius: 7px;
}

.infos {
  text-align: center;
}

.prf {
  text-align: center;
  font-size: 17px;
}

/*IMAGE MINI GALERY*/
.rounded {
  width: 30%;
}

/*CARROUSEL*/
/*FOOTER*/
.card {
  background-color: #575757;
  color: white;
}

.box {
  background-color: #2e2e2e;
}

.btnf {
  margin-right: 40px;
  padding: 10px 30px;
  background-color: #6f9b6f;
  color: white;
  border-radius: 5px;
}

.btnf:hover {
  background-color: #575757;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*CSS FOR CLOTHING PAGE*/
/*CLOTHING PRODUCTS*/
.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  margin: 20px;
}

.card1 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/sisa.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card2 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/tropelera.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card3 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/camiseta.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card4 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/camibuso.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card5 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/termo.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card6 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/pantaloneta.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card7 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/oversize.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card8 {
  position: relative;
  width: 250px;
  height: 350px;
  color: #575757;
  background: url(/media/gorra.jpg) center no-repeat;
  background-size: cover;
  border-radius: 13px;
  overflow: hidden;
}

.card__content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: #2e2e2e;
  border-top-left-radius: 20px;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.card__content::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(-175deg);
          transform: rotate(-175deg);
  border-radius: 50%;
  -webkit-box-shadow: inset 48px 48px #2e2e2e;
          box-shadow: inset 48px 48px #2e2e2e;
}

.card__title {
  color: white;
  line-height: 15px;
  font-size: 27px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  color: #6f9b6f;
}

.card__description {
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  color: white;
}

.card1:hover .card__content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card1:hover .card__description {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.card2:hover .card__content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card2:hover .card__description {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.card3:hover .card__content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card3:hover .card__description {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.card4:hover .card__content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card4:hover .card__description {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.card5:hover .card__content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card5:hover .card__description {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.card6:hover .card__content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card6:hover .card__description {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.card7:hover .card__content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card7:hover .card__description {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.card8:hover .card__content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card8:hover .card__description {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

/*CSS FOR ABOUT US PAGE*/
/*ACCORDION*/
.accordion {
  margin: 20px;
  padding: 20px;
}

.accordion-item {
  background-color: #2e2e2e;
  color: white;
  text-align: justify;
}

.accordion-button {
  background-color: #575757;
  color: white;
}

.accordion-button:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #6f9b6f !important;
          box-shadow: 0 0 0 0.25rem #6f9b6f !important;
  border-color: #6f9b6f !important;
}

.accordion-button:not(.collapsed) {
  color: #6f9b6f;
}
/*# sourceMappingURL=sass.css.map */